.dashboard {
    width: 100%;
    min-height: 800px;
    height: 100vh;
    position: relative;
    background-size: cover !important; 
    padding-top: 100px;
    padding-bottom: 50px;
}
.dlist {
    font-size: 15px;
    padding-left: 10px;
}
.dlist li {
    display: flex;
    line-height: 24px;
}
.dlist li span:first-child {
    width: 155px;
    display: inline-block;
}
.dlist li span:last-child{
    color: #fff;
} 
.smf-data h5 {
    font-weight: 300;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.smf-data h5 img {
    margin-right: 5px;
}

.smf-data h5 small {
    margin-left: 10px;
}
.help_center ul li {
    display: flex;
    width: 70px;
    height: 70px;
    border: 1px solid #5f56bb;
    margin-right: 10px;
    background: rgba(45, 38, 138, 0.5);
    box-shadow: inset 0px 0px 7px rgb(255 255 255 / 25%);
    border-radius: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.help_center ul li img {
    height: 30px;
}
.help_center ul li:hover {
    background: #292460;
}
button.goback {
    border: none;
    padding: 0;
    margin-bottom: 25px;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background: rgba(45, 38, 138, 0.3);
    box-shadow: inset 0px 0px 7px rgb(255 255 255 / 25%);
    transition: .3s;
} 

button.goback svg path {
    fill: #DDDDFB;
    transition: .3s;
}

button.goback:hover svg path {
    fill: #fff;
}

button.goback:hover {
    background: #3c3679e8;
}
.contentBlk .btns {
    position: absolute;
    top: 60%;
    right: 15px;
    width: 95px;
    transform: translateY(-50%);
}

.contentBlk .btns button.theme-btn {
    width: 100%;
}

.contentBlk .btns button.theme-btn:last-child {
    margin-top: 5px;
}
.help_center ul {
    display: flex;
    flex-wrap: wrap;
}



@media only screen and (max-width:991px) {
    .dashboard {
        width: 100%;
        min-width:auto;
        height: auto; 
    }

} 

@media only screen and (max-width:767px) {
    .contentBlk .btns {
        position: unset;
        width: 90%;
        transform: unset;
        display: flex; 
        margin: auto;
        margin-top: 15px;
    }
    .contentBlk .btns button.theme-btn:last-child {
        margin-top: 0px;
        margin-left: 5px;
    }
    .dlist {
        font-size: 13px;
        padding-left: 5px;
    }
    .dlist li span:first-child {
        width: 130px; 
    }
    .dlist li { 
        display: flex;
        overflow: hidden;
    }
    .dlist li span:first-child { 
        min-width: 100px;
    }
    .help_center ul li { 
        width: 50px;
        height: 50px; 
    }
    .help_center ul li img {
        height: 25px;
    }












}





