button.theme-btn {
    border: none;
    outline: none;
    background-color: transparent;
    transition: .3s;
    color: #fff;
    position: relative;
    z-index: 2;
    padding: 5px 15px;
}
button.theme-btn:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius:5px; /*1*/
    border:1px solid transparent; /*2*/
    background:linear-gradient(270deg, #6ac9f1, #234a55) border-box;
    -webkit-mask: /*4*/
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/
    mask-composite: exclude; /*5*/
    border-image-slice: 20;
    z-index: -2;
}

button.theme-btn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius:5px;
    background: linear-gradient(270deg, #6AC9F1 0%, #231E5B 100%);
    z-index: -1;
    opacity: 0;
    transition: .3s;
}


button.theme-btn:hover:before{
    opacity: 1;
}









