form.antiScamAiForm label {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

form.antiScamAiForm label input {
    display: block;
    width: 100%;
    background: rgba(45, 38, 138, 0.3);
    box-shadow: inset 0px 0px 7px rgb(255 255 255 / 25%);
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    color: #fff;
}

form.antiScamAiForm {
    padding-left: 10px;
}

form.antiScamAiForm button.theme-btn {
    display: block;
    margin: auto;
    margin-top: 10px;
}